<h1> COVID-19 Notifier </h1>

<h2> GLOBAL CASES </h2>
<p><strong>{{currentDate}}</strong></p>
<div>
    <ul>
        <li>Confirmed Case: {{confirmedCases}}</li>
        <li>Recovered: {{recovered}}</li>
        <li>Deaths: {{deaths}}</li>
    </ul>
</div>
<div>
    <label>Select Country:</label>
    <select name="config[countries]">
        {{#each countries}}
        <option value="{{id}}">{{country}}{{flag}}</option>
        {{/each}}
    </select>
</div>
