<h2> GLOBAL CASES </h2>
<p><strong>{{currentDate}}</strong></p>
<p><strong>As of {{caseDate}} </strong></p>
<div>
    <ul>
        <li>Confirmed Case: {{confirmedCases}}</li>
        <li>Recovered: {{recovered}}</li>
        <li>Deaths: {{deaths}}</li>
    </ul>
</div>
<div>
    <label>Select Country:</label>
    <form>
    <select id="countries">
        {{#each countries}}
        <option value="{{id}}">{{country}}{{flag}}</option>
        {{/each}}
    </select>
    <input type='button' onclick="myFunction()" value="Submit"/>
    </form>
</div>

<script>
    function myFunction() {
    let selectedCountry = document.getElementById('countries').value

    if( selectedCountry !== '') {
        window.location = "/country/"+selectedCountry
    }
} 
</script>