<h1> COVID-19 Notifier </h1>

<h2>{{countryName}}</h2>
<h2>{{countryFlag}}</h2>
<p><strong>{{currentDate}}</strong></p>
<p><strong>As of {{caseDate}} </strong></p>
<div>
    <ul>
        <li>Confirmed Case: {{cases}}</li>
        <li>Cases Today: {{casesToday}}</li>
        <li>Recovered: {{recovered}}</li>
        <li>Deaths: {{deaths}}</li>
        <li>Deaths Today: {{deathsToday}}</li>
    </ul>
</div>