<h2>{{countryName}}{{countryFlag}}</h2>
<p><strong id="currentDate">{{currentDate}}</strong></p>
<p><strong>As of {{caseDate}} </strong></p>
<div>
    <ul>
        <li>Confirmed Case: {{cases}}</li>
        <li>Cases Today: {{casesToday}}</li>
        <li>Recovered: {{recovered}}</li>
        <li>Deaths: {{deaths}}</li>
        <li>Deaths Today: {{deathsToday}}</li>
    </ul>
</div>

<script>
    window.onload = function() {
        /* Update the date every second */
        window.setInterval(function() {
            updateDate()
        }, 1000)
    }

    function updateDate() {
        document.getElementById('currentDate').innerHTML = (new Date()).toString()
    }
</script>